<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Workspace\Java\Library Management System\lms.jar</jar>
  <outfile>D:\Workspace\Java\Library Management System\Library Assistant.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Workspace\Java\Library Management System\src\resources\icon.ico</icon>
  <singleInstance>
    <mutexName>Library Assistant</mutexName>
    <windowTitle>Library Assistant</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path &quot;C:\Program Files\Java\javafx-sdk-22.0.2\lib&quot; --add-modules javafx.controls,javafx.fxml</opt>
  </jre>
</launch4jConfig>